<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.whty.eschoolbag.filemanager">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application

        android:name="com.whty.eschoolbag.filemanager.APPAplication"
        android:allowBackup="true"
        android:appComponentFactory="default"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:appComponentFactory">


        <activity android:name="com.whty.eschoolbag.filemanager.TestActivity" >

        </activity>


        <activity
            android:name=".MainActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.whty.eschoolbag.filemanager.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>



        <activity
            android:name=".ui.category.CleanUpActivity"
            android:exported="true"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.category.SearchActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.category.ImgCategoryActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.category.ImgExploreListActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.category.ExploreListActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.category.FileExploreActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.preview.ImagePreviewActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.preview.VideoViewActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.preview.AudioPlayActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name=".ui.preview.SimplePlayActivity"
            android:screenOrientation="landscape" />

    </application>

</manifest>